<p><h4>Account Name:</h4> <%= @account.name%></p>
    <p><h4>Account Owner:</h4> <%= @account.user.full_name%></p>
    <p><h4>Account Address:</h4> <%= @account.street%> <%= @account.city%>, <%= @account.state%> <%= @account.zip%>
</p>
