<%= form_for @account do |f| %>
  <p>
    <%=  f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :catch_phrase %>
    <%= f.text_field :catch_phrase %>
  </p>
    <%= f.label :logo %>
    <%= f.text_field :logo %>
  <p>
    <%= f.label :street %>
    <%= f.text_field :street %>
  </p>
  <p>
    <%= f.label :city %>
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :state %>
    <%= f.text_field :state %>
  </p>
  <p>
    <%= f.label :zip %>
    <%= f.text_field :zip %>
  </p>
  <%= f.submit %>
<% end %>
