<header>
  <img class="logo" src="<%= @account.logo%>" alt="Company Logo">
  <h1 class="motto"><%= @account.catch_phrase %></h1>
  <%= button_to 'Logout', logout_path, method: :delete %>
</header>

<main>
  <!-- Account Section -->
  <section class="account_header">
    <% if @errors %>
      <p class="error"><%= @errors[:permission_error] %></p>
    <% end %>

    <h3><a href="/accounts">Accounts</a></h3>
    <% if current_user == @account.user %>
      <nav class="account_buttons">
        <%= button_to 'Edit', edit_account_path(@account), method: :get %>
        <%= button_to 'Destroy', account_path(@account), method: :delete %>
      </nav>
    <% end %>
  </section>
  <section class="account_details">
    <%= render 'details' %>
  </section>
<!-- Order Section -->
<div class="orders">
  <%= button_to "Order", new_order_path, method: :get %>
<br>
</div>

<div class="new_order_form">

</div>

<table >
  <tr class="column_headers">
    <th class="edit">Edit</th>
    <th class="name">Order</th>
    <th clsss="status">Status</th>
    <th class="close-date">Close Date</th>
  </tr>
  <% @account.orders.each_with_index  do |order, index| %>
  <tr id="order<%= index %>">
    <td class="edit"><a href="/orders/<%= order.id %>/edit">Edit</a></td>
    <td class="name"><a href="/orders/<%= order.id %>"><%= order.id %></a></td>
    <td class="status"><%= order.status %></td>
    <td class="close-date"><%= order.close_date%></td>
  </tr>
  <% end %>
</table>

</main>

