<header>
  <img class="logo" src="<%= @account.logo%>" alt="Company Logo">
  <h1 class="motto"><%= @account.catch_phrase %></h1>
  <a class="logout" href="/logout">Logout</a>
</header>

<main>
  <!-- Account Section -->
  <section class="account_header">
    <% if @errors %>
      <p class="error"><%= @errors[:permission_error] %></p>
    <% end %>

    <h3><a href="/accounts">Accounts</a></h3>
    <% if current_user == @account.user %>
      <nav class="account_buttons">
        <form class="buttons" action="/accounts/<%= @account.id%>/edit" method="get">
          <input type="submit" value="Edit"></input>
        </form>
        <form class="buttons" action="/accounts/<%= @account.id%>" method="post">
          <input type="hidden" name="_method" value="delete"></input>
          <input type="submit" value="Delete"></input>
        </form>
      </nav>
    <% end %>
  </section>
  <section class="account_details">
    <%= erb :"accounts/_details" %>
  </section>
<!-- Order Section -->
  <% if current_user == @account.user %>
    <section class="orders">
      <h3>Related Orders</h3>
      <form id="new_order_form" action="/orders/new" method="get">
        <input type='hidden' name="account_id" value=<%=@account.id %>></input>
        <input type="submit" value="New Order"></input>
      </form>
      <section class="new_orders">
        <!-- used in ajax to show new order fields -->
      </section>
      <section class="related_orders">
        <%= erb :"orders/_order_details", locals: {:orders => @orders} %>
      </section>

      <section class="order_details">

      </section>



      <section class="related_lineitems">

      </section>

    </section>


  <% else %>
    <h3>You must be the Account Owner to see more details.</h3>
  <% end%>

</main>

