<header>
  <img class="logo" src="<%= @account.logo%>" alt="Company Logo">
  <h1 class="motto"><%= @account.catch_phrase %></h1>
  <a class="logout" href="/logout">Logout</a>
</header>

<main>
  <!-- Account Section -->
  <section class="account_header">
    <% if @errors %>
      <p class="error"><%= @errors[:permission_error] %></p>
    <% end %>

    <h3><a href="/accounts">Accounts</a></h3>
    <% if current_user == @account.user %>
      <nav class="account_buttons">
        <form class="buttons" action="/accounts/<%= @account.id%>/edit" method="get">
          <input type="submit" value="Edit"></input>
        </form>
        <form class="buttons" action="/accounts/<%= @account.id%>" method="post">
          <input type="hidden" name="_method" value="delete"></input>
          <input type="submit" value="Delete"></input>
        </form>
      </nav>
    <% end %>
  </section>
  <section class="account_details">
    <%= render 'details' %>
  </section>
<!-- Order Section -->

</main>

